<div class="row justify-content-center m-3 mt-5 mb-5 text-center">
  {% if not app.user %}

    <div class="col-12 col-md-4 mb-3 d-flex">
      <a href="{{ path('_home', {'_studyArea': study_area_slug}) }}"
         {{ singleStudyArea ?: 'disabled' }}
         data-toggle="tooltip"
         title="{{ singleStudyArea.name ?? 'No pulbic, open-access study area available.' }}"
        class="btn btn-lg ucgis-green-outline-btn w-100 flex-fill">
        Advanced Search:<br>Open Dashboard
      </a>
    </div>
    <div class="col-12 col-md-4 mb-3 d-flex">
      <a href="https://www.ucgis.org/site/gis-t-body-of-knowledge"
         target="_blank"
         class="btn btn-lg ucgis-yellow-outline-btn w-100 flex-fill">Using or Contributing to <br>this Resource</a>
    </div>
    <div class="col-12 col-md-4 mb-3 d-flex">
      <a href=" https://drive.google.com/file/d/1rQ7oG-7bKvLMHlG4teLxendYZKQbPoAP/view" target="_blank"
         class="btn btn-lg w-100 ucgis-blue-outline-btn flex-fill ucgis-blue-btn">Color-coded 2-page list<br>of topics
        (pdf).</a>
    </div>

  {% else %}
    {{ form_start(studyAreaForm, {'attr': {'class': 'w-100'}}) }}
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-4 mb-3">
        {{ form_widget(studyAreaForm.studyArea) }}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {{ form_widget(studyAreaForm.submit) }}
      </div>
    </div>
    <script type="text/javascript">
      $('#studyarea_form_studyArea').on('change', function () {
        $('#studyarea_form_submit').removeAttr('disabled');
      });

      $('#studyarea_form_submit').on('click', function () {
        window.location.href = Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, false);
        return false;
      });
    </script>
    {{ form_end(studyAreaForm) }}
  {% endif %}
</div>
