{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'search.search'|trans -}}
{% endblock %}

{% block content %}

  {{ include('search/search_form.html.twig') }}

  {% if search is defined %}

    <h2>{{ 'search.results-for'|trans({'%item%': search}) }}</h2>

    {% if conceptData|length == 0 %}
      <p>{{ 'search.no-results-anywhere'|trans }}</p>
    {% else %}
      {{ block('searchResults') }}
    {% endif %}

  {% endif %}

{% endblock %}

{% block searchResults %}
  {% from _self import annotationResults %}
  <div class="tab-content" id="search-options">
    <div class="tab-pane{% if conceptData|length != 0 %} active{% endif %}" id="tab-concepts" role="tabpanel"
         aria-labelledby="tab-concepts-button">
      {% if conceptData|length == 0 %}
        <p>{{ 'search.no-results'|trans({'%item%': 'search.result.concepts'|trans|lower}) }}</p>
      {% else %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>{{ 'concept.name'|trans }}</th>
              <th>{{ 'search.preview'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for concept in conceptData %}
              {% for result in concept.results %}
                <tr>
                  {% if result.property == 'theory-explanation' %}
                    <td>
                      <a href="{{ path('app_concept_show', {concept: concept._slug}) }}">{{ concept._title }}</a>
                    </td>
                  <td>{{ result.data|striptags|u.truncate(500, '...', false)|raw }}</td>
                </tr>
            {% endif %}
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>

    {% if app.user %}
      <div
          class="tab-pane{% if conceptData|length == 0 %} active{% endif %}"
          id="tab-own-annotations" role="tabpanel" aria-labelledby="tab-own-annotations-button">
        {% if ownAnnotationsData|length == 0 %}
          <p>{{ 'search.no-results'|trans({'%item%': 'search.result.own-annotations'|trans|lower}) }}</p>
        {% else %}
          {{ annotationResults(search, ownAnnotationsData) }}
        {% endif %}
      </div>

      <div
          class="tab-pane{% if conceptData|length == 0 %} active{% endif %}"
          id="tab-all-annotations" role="tabpanel" aria-labelledby="tab-all-annotations-button">
        {% if allAnnotationsData|length == 0 %}
          <p>{{ 'search.no-results'|trans({'%item%': 'search.result.all-annotations'|trans|lower}) }}</p>
        {% else %}
          {{ annotationResults(search, allAnnotationsData) }}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% macro annotationResults(search, annotations_data) %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{ 'concept.concept'|trans }}</th>
        <th>{{ 'search.found-in'|trans }}</th>
        <th>{{ 'annotations.selected'|trans }}</th>
        <th>{{ 'annotations.type'|trans }}</th>
        <th>{{ 'annotations.author'|trans }}</th>
        <th>{{ 'search.preview'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for annotations_data_per_concept in annotations_data %}
        {% set render_concept = true %}
        {% for annotation in annotations_data_per_concept.items %}
          {% for result in annotation.results %}
            <tr>
              {% if render_concept %}
                {% set render_concept = false %}
                <td rowspan="{{ annotations_data_per_concept.count }}">
                  <a href="{{ path('app_concept_show', {concept: annotation._data.concept.slug}) }}">{{ annotation._data.concept.name }}</a>
                </td>
              {% endif %}

              {% if loop.first %}
                <td rowspan="{{ annotation.results|length }}">{{ ('concept.' ~ annotation._data.context)|trans }}</td>
                <td rowspan="{{ annotation.results|length }}">
                  {% if annotation._data.selectedText %}
                    {{ annotation._data.selectedText }}
                  {% else %}
                    <i>{{ 'annotations.section-header'|trans }}</i>
                  {% endif %}
                </td>
              {% endif %}
              <td>{{ result.property == 'text' ? 'annotations.annotation'|trans : 'annotations.comment.comment'|trans }}</td>
              <td>{{ result.data.author }}</td>
              <td>{{ result.data.text|striptags|highlight(search) }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}
